html{
    scroll-behavior: smooth;
}
.footer-area{
    background: url(../img/footer-img/footer-bg.png);
    .single-footer {
        h5 {
            color: #fff;
            font-family: 'Poppins';           
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 15px;
        }
        p, a {
            color: #afb3d6;
            margin-bottom: 7px;
            transition: .3s;
            span{
                color: #ec6e39;
            }
            &:hover{
                color: #fff;
            }
        }
        a{
            display: block;
        }
    }
    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 26px;
        border-top: 2px solid #2a2938;
        padding: 20px 0px;
        .footer-bottom-left {
            p {
                color: #8a90c2;
                font-weight: 400;
                font-size: 15.5px;
                span{
                    color: #ec6e39;
                    font-weight: 700;
                }
            }
        }
        .footer-bottom-right{
            i, a{
                color: #ec6e39;
            }
            a{
                margin: 0 5px;
            }
        }
    }
}