/* ================= Header Area Start Here ================= */

.header-area {
    padding: 25px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
        text-transform: capitalize;
         font-size: 18px;
        @include md-screen {
            font-size: 15px;
        }
    }
    .lan-select {
        background: transparent;
        border: none;
        text-transform: uppercase;
        color: $white;
        font-size: 18px;
        @include md-screen {
            font-size: 15px;
        }
        option {
            color: $black;
        }
    }
}

.menu-right-wrap {
    display: flex;
    justify-content: start;
    align-items: center;
    .favourite-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 15px;
        background-color: #292931;
        padding: 10px 18px;
        border-radius: 8px;
        .favourite {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #292931;
            padding: 8px 15px;
            border-radius: 8px;
            color: $white;
            &__icon {
                margin-right: 3px;
                color: $danger;
                margin-right: 5px;
            }
        }
    }
}


/* ================= Header Area End Here ================= */