/**letest-blog-area-start**/
.letest-blog {
    background: #24242C;
}
.blog-area {
    
    .blog-area-item {
        display: flex;
        background: #222;
        padding: 25px;
      
        .text {
            font-size: 18px;
            font-weight: 700;
            color: $white;
        }
        .para {
            font-size: 16px;
            font-weight: 300;
            color: #B4B6C5;
            
        }
    }
    &__title {
        margin-left: 20px;
        
        
    }
    &__bottom {
        display: flex;
        margin-left: 20px;
        font-size: 14px;
        .left-item {
            display: flex;
            margin-right: 60px;
            .text {
                font-size: 14px;
                font-weight: 300;
                color: #B4B6C5;
                margin-left: 10px;
            }
            .img {
                height: 25px;
                width: 25px;
                border-radius: 100%
                
            }
        }
        
    }


}


/**letest-blog-area-end**/ 