// contract area start here
.contract{
    background: url(../img/contract-img/con-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 19%;
}
h3.change {
	padding: 0px 259px;
	color: white;
}

.single-input {
    li {
        color: white;
        text-transform: uppercase;
        margin-bottom: 11px;
        margin-top: 17px;
        letter-spacing: 1.7px;
        font-size: 14px;
        font-weight: 700;
        span{
            color: #ec6e39;
        }
    }
    input {
        width: 91%;
        height: 66px;
        padding: 0px 30px;
        background: transparent;
        border: 2px solid #4d4d4d;
        color: #fff;
        &::placeholder {
            color: #b9b9b9;
        }
    }
	
}

.for-li{
    li {
        color: white;
        text-transform: uppercase;
        margin-bottom: 11px;
        margin-top: 17px;
        letter-spacing: 1.7px;
        font-size: 14px;
        font-weight: 700;
        span{
            color: #ec6e39;
        }
    }
}

.nice-select .option {
	cursor: pointer;
	font-weight: 400;
	line-height: 40px;
	list-style: none;
	min-height: 40px;
	outline: 0;
	padding-left: 18px;
	padding-right: 29px;
	text-align: left;
	-webkit-transition: all .2s;
	transition: all .2s;
	color: #000;
}

.for-margin{
        margin-left: 33%;
    .all-duffuled-btn {
        text-transform: uppercase;
        letter-spacing: 1.4px;
        font-size: 14px;
        font-weight: 700;
        background: #EC6E39;
        color: #fff;
        display: table;
        padding: 14px 27px;
        border-radius: 50px;
        transition: 0.3s;
        border: 2px solid #EC6E39;
        margin-top: 22px;
        &:hover{
            background: transparent;
            border:2px solid #e8e8e8;
            color: #fff;
        }
    }
}


// contract area end here