@import 'hero';
@import 'category';
@import 'product';
@import 'work';
@import 'blog';
// @import './about';
// @import './event';
 @import './team';
// @import './contract';
// @import './involed';
 @import './users';
@import 'question'

