.involed {
	background: #f2edff;
}

.single-involed {
	margin: 20px 0px 5px 0px;
    background: #fff;
    padding: 56px 0px;
    transition: .3s;
    &:hover{
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.17);
    }
    .involed-img {
        margin-left: 70px;
    }
    .involed-btn{
        margin-top: 68px;
        .transperent-btn {
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 1.5px;
            color: #bec1d4;
            font-weight: 700;
            border: 3px solid #e5e6ec;
            border-radius: 50px;
            padding: 18px 35px;
            transition: .4s;
            &:hover{
                background: #ec6e39;
                border: 3px solid transparent;
                color: #fff;
            }
        }
    }
    .involed-content {
        margin-top: 11px;
        .involed-icon {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            font-size: 15.5px;
            color: #8d8db4;
            li {
                margin-left: 10px;
            }
        }
        .invole-single-content{ 
            h4 {
                margin-bottom: 11px;
                font-family: 'Poppins';
                font-weight: 600;
                font-size: 30px;
            }
            p {
                color: #686893;
                font-size: 15px;
            }
    }
  }    
}

