 /**users-area start**/ 
.users-content {
    padding: 20px;
    border: 1px solid $border;
    background: #24242C;
    transition: .4s;
    &:hover {
        transform: translateY(-6px);
    }

     &__img {
        margin-top: 50px;
        margin-bottom: 20px;
     }
     &__title {
           .head {          
            font-size: 20px;
            font-weight: 700;
            color: $white;
        
        }
        .sub {
            font-size: 16px;
            font-weight: 300;
            color: #B4B6C5;
            padding-bottom: 20px;
        }
     }    
    &__paragraph {
          p {
            font-size: 18px;
            font-style:italic;
            color: $white;
            padding-bottom: 20px;
        }
   }
   

}



 
 /**users-area end**/ 

   