  /*============** Padding Margin **============*/
  @for $i from 1 through 50 {
    .pt-#{$i * 5} {
        padding-top: $i * 5px;
    }
    .pb-#{$i * 5} {
        padding-bottom: $i * 5px;
    }
    .mt-#{$i * 5} {
        margin-top: $i * 5px;
    }
    .mb-#{$i * 5} {
        margin-bottom: $i * 5px;
    }
    .ml-#{$i * 5} {
        margin-left: $i * 5px;
    }
    .mr-#{$i * 5} {
        margin-right: $i * 5px;
    }
}

 /*============** MD device  Padding Margin MD device **============*/
 @media only screen and (max-width: 991px) {
	@for $i from 1 through 50 {
		.md-pt-#{$i * 5} {
			padding-top: $i * 5px;
		}
		.md-pb-#{$i * 5} {
			padding-bottom: $i * 5px;
		}
		.md-mt-#{$i * 5} {
			margin-top: $i * 5px;
		}
		.md-mb-#{$i * 5} {
			margin-bottom: $i * 5px;
		}
		.md-ml-#{$i * 5} {
			margin-left: $i * 5px;
		}
		.md-mr-#{$i * 5} {
			margin-right: $i * 5px;
		}
	}
 }